<div class="container">


  <div class="card-group ">
    <div class="">


      <div class="card">

        <section id="headerToday">
          <div class="card-header">
            <h1>{{ciudad| titlecase}}. {{climaDescripcion | titlecase}}, {{temperatura}}℃</h1>
            <p>Latitud: {{lat}} Longitud: {{lon}} </p>
          </div>

          <div class="row ">
            <div class="col txt-center">
              <!--<img class="card-img-top  w-75" src="/assets/sun.png" alt="Card disimage cap"> -->
              <div id="dia" *ngIf="dia">
                <div id="soleado" *ngIf="climaIcono == 0">
                  <fa-icon [icon]='fasun' class="fas  fa-10x" style="color:orange"> </fa-icon> <br>
                </div>

                <div id="soleadonuboso" *ngIf="climaIcono == 1">
                  <fa-icon [icon]='facloudsunrain' class="fas  fa-10x" style="color:orange"> </fa-icon> <br>
                </div>
                <div id="soleadolluvioso" *ngIf="climaIcono == 2">
                  <fa-icon [icon]='facloudsun' class="fas  fa-10x" style="color:orange"> </fa-icon> <br>
                </div>
              </div>

              <div id="dia" *ngIf="!dia">
                <div id="luna" *ngIf="climaIcono == 0">
                  <fa-icon [icon]='famoon' class="fas  fa-10x" style="color:steelblue"> </fa-icon> <br>
                </div>

                <div id="lunanublado" *ngIf="climaIcono == 1">
                  <fa-icon [icon]='facloudmoonrain' class="fas  fa-10x" style="color:steelblue"> </fa-icon> <br>
                </div>
                <div id="lunalluvioso" *ngIf="climaIcono == 2">
                  <fa-icon [icon]='facloudmoon' class="fas  fa-10x" style="color:steelblue"> </fa-icon> <br>
                </div>

              </div>

            </div>

            <div class="col">
              <h4>Datos Generales</h4>
              <p>
                Nubosidad: {{nubosidad}} % <br>
                Visibilidad: {{visibilidad}} m <br>
                Humedad: {{humedad}} % <br>
                Presión: {{presion}} hPa <br>
                Max: {{max}} ℃ <br>
                Min: {{min}} ℃ <br>
                feels like: {{feels}} ℃ <br>
              </p>
            </div>

            <div class="col">
              <h4>Viento</h4>
              <p>
                Grados: {{vientoGrados}} <br>
                Gust: {{vientoGust}} <br>
                Velocidad: {{vientoVelocidad}} m/s<br>
              </p>
            </div>
          </div>

        </section>

        <!--

        <section id="forecast5days">
          

        <div class="card-body">
          <div class="row ">
            <div class="col">
              <h4>06/07/2021</h4>
                <fa-icon [icon]="facloudrain" class="fas  fa-5x" style="color:blue"> </fa-icon> <br>
                <b>max: 0</b>&nbsp; <b>min:0</b>
                lluvia ligera <br>
                nubosidad :<br>
                visibilidad :<br>
                humedad :<br>
                presion :<br>
                vientoGrados :<br>
                vientoGust :<br>
                vientoVelocidad :<br>
            </div>
            <div class="col">
              <h4>07/07/2021</h4>
                <fa-icon [icon]="fasun" class="fas  fa-5x" style="color:orange"> </fa-icon> <br>
                <b>max: 0</b>&nbsp; <b>min:0</b>
                lluvia ligera <br>
                nubosidad :<br>
                visibilidad :<br>
                humedad :<br>
                presion :<br>
                vientoGrados :<br>
                vientoGust :<br>
                vientoVelocidad :<br>
            </div>
            <div class="col">
              <h4>08/07/2021</h4>
                <fa-icon [icon]="facloudsun" class="fas  fa-5x" style="color:green"> </fa-icon> <br>
                <b>max: 0</b>&nbsp; <b>min:0</b>
                lluvia ligera <br>
                nubosidad :<br>
                visibilidad :<br>
                humedad :<br>
                presion :<br>
                vientoGrados :<br>
                vientoGust :<br>
                vientoVelocidad :<br>
            </div>
            <div class="col">
              <h4>09/07/2021</h4>
                <fa-icon [icon]="fasun" class="fas  fa-5x" style="color:orange"> </fa-icon> <br>
                <b>max: 0</b>&nbsp; <b>min:0</b>
                lluvia ligera <br>
                nubosidad :<br>
                visibilidad :<br>
                humedad :<br>
                presion :<br>
                vientoGrados :<br>
                vientoGust :<br>
                vientoVelocidad :<br>
            </div>
            <div class="col">
              <h4>10/07/2021</h4>
                <fa-icon [icon]="facloudrain" class="fas  fa-5x" style="color:green"> </fa-icon> <br>
                <b>max: 0</b>&nbsp; <b>min:0</b>
                lluvia ligera <br>
                nubosidad :<br>
                visibilidad :<br>
                humedad :<br>
                presion :<br>
                vientoGrados :<br>
                vientoGust :<br>
                vientoVelocidad :<br>
            </div>
          </div>
        </div>
        </section>
-->
        <div class="card-footer">
          <small class="text-muted">Actualizado: {{fecha | date}} </small>
        </div>
      </div>
    </div>
  </div>
</div>

<!--

<div class="row">
  <div class=" col">
    <google-chart class ='' [data]="lineChart"></google-chart>
  </div>
</div>
-->
