<div class="container">


<div class="card-group ">
    <div class="row">

    
    <div class="card">
        <div class="card-header">
            <h1>Guatemala, Ciudad</h1>
          </div>
    
          <div class="row">
            <div class = "col">
              <img class="card-img-top" src="/assets/rain.png" alt="Card disimage cap">
            </div>
            <div class = "col">
              <h1>23</h1>
              <h2>dia soleado</h2>
              <p>
                linea 1 <br>
                linea 2 <br>
                linea 3 <br>
              </p>
            </div>
            
          </div>
        
      <div class="card-body">
        <h1 class="card-title">Card title</h1>
        <p class="card-text"> https://www.angularjswiki.com/fontawesome/ This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
</div>
  </div>
</div>