<div >
    <h2>Configuracion de Datos</h2>

      <div class="input-group mb-3">
        <div class="input-group-append">
          <label class="input-group-text" for="selectEstacion" >Estacion Primaria</label>
        </div>
        <select class="custom-select" id="selectEstacion"
        onchange="zoom2Map()">
          
        </select>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-append">
          <label class="input-group-text" for="selectEstacion2" >*Estacion a Comparar</label>
        </div>
        <select class="custom-select" id="selectEstacion2">
          
        </select>
      </div>



      <div class="input-group mb-3">
        <div class="input-group-append">
          <label class="input-group-text" for="selectYYYY1" >Año Inicial</label>
        </div>
        <select  class="custom-select" id="selectYYYY1" >
        </select>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-append">
          <label class="input-group-text" for="selectYYYY2" >Año Final</label>
        </div>
        <select class="custom-select" id="selectYYYY2"  >
        </select>
      </div>

      
      <div class="input-group mb-3">
        <div class="input-group-append">
          <label class="input-group-text" for="selectVisualizacion" >Visualizacion</label
          >
        </div>
        <select
          class="custom-select"  id="selectVisualizacion"  >
        </select>
      </div>


      <div class="input-group mb-3">
        <div class="input-group-append">
          <label class="input-group-text" for="selectDatos" >Datos</label>
        </div>
        <select class="custom-select" id="selectDatos" >         
        </select>
      </div>

      <button type="button" class="btn btn-primary" onclick="alert('aqui va un reporte')">Ver Datos</button>
      <div>
        <p> <b>* campo opcional</b></p>
      </div>
      
</div>